<div class="conten">
    <mat-card class="card grafica">
        <mat-card-header>
            <h1>Gráfica de las ventas de {{Indicador}}</h1>
        </mat-card-header>
        <mat-card-content class="seg-grid">
            <div>
                <mat-selection-list #shoes [multiple]="false">
                    <mat-list-item role="listitem">Productos</mat-list-item>
                    <mat-list-option *ngFor="let shoe of types" (click)="selectIndicador(shoe)">
                      {{shoe}}
                    </mat-list-option>
                  </mat-selection-list>
            </div>
            <div class="barras">
                <app-grafic [horizontal]="false"
                            [barChartData]="productData"
                            [barChartLabels]="typesOfShoes"
                >
                </app-grafic>
            </div>
            
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button (click)="exportarExcel()" >
                <mat-icon mat-list-icon>receipt</mat-icon>
                Exportar</button>
            <button mat-button (click)="selectReset()">Los más Vendidos</button>
        </mat-card-actions>

    </mat-card>

    <mat-card class="card lista" >
        <mat-card-header>
            <h2>Alertas de Productos por Terminar</h2>
        </mat-card-header>
        <mat-card-content *ngIf="productosXTerminar.length != 0">
            <p *ngFor="let p of productosXTerminar">
                El producto <strong style="color: red;">{{p.Titulo}}</strong> Está por terminar ya que solo se tiene <strong style="color: red;">{{p.Existencias}}</strong> por lo cual es necesario comunicarce con el proveedor.
            </p>
        </mat-card-content>
        
    </mat-card>

    <mat-card class="card tabla">
        <mat-card-header>
            <h2>Tabla de Ventas de {{Indicador}} </h2>
        </mat-card-header>
        <mat-card-content>
            <table>
                <thead>
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Existencias
                        </th>
                        <th>
                            Cantidad Vendida
                        </th>
                        <th>
                            Total Vendido
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="ventasxProducto.length != 0">
                    <tr *ngFor="let product of ventasxProducto">
                        <td style="text-align: left;">{{product.Titulo}}</td>
                        <td>${{product.PrecioUnitario}}</td>
                        <td>{{product.Existencias}}</td>
                        <td>{{product.CantidadVendida}}</td>
                        <td>${{product.Total_Vendido}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="ventasxProducto.length == 0">

                    <tr *ngFor="let venta of ventas">
                        <td style="text-align: left;">{{venta.Titulo}}</td>
                        <td>${{venta.PrecioUnitario}}</td>
                        <td>{{venta.Existencias}}</td>
                        <td>{{venta.CantidadVendida}}</td>
                        <td>${{venta.Total_Vendido}}</td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>

    </mat-card>

    <mat-card class="card total">
        <h1>
            Total Vendido 
            <br>
            ${{grandTotalPrice | number}}
        </h1>
    </mat-card>

    <mat-card class="card detalle">
        <mat-card-header>
            <h2>Detalles de las Ventas</h2>
        </mat-card-header>
        <mat-card-content>
            <table>
                <thead>
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Cantidad Vendida
                        </th>
                        <th>
                            Total Vendido
                        </th>
                        <th>
                            Fecha
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let det of detalleVenta">
                        <td style="text-align: left;">{{det.Titulo}}</td>
                        <td>${{det.PrecioUnitario}}</td>
                        <td>{{det.CantidadVendida}}</td>
                        <td>${{det.Total_Vendido}}</td>
                        <td>{{det.Fecha  | date:"medium"}}</td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>

    </mat-card>
    
    

</div>
