.contenedor-cart {
    height: 60vh;
    margin: 25px;
    padding: 25px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 40%;
}

.avatar
{
    text-align: center;
    font-size: 20vh;
}

table {
    width: 100%;
  }

.right {
    text-align:right;
}

.centro {
    text-align:center;

}